openapi: 3.0.3
info:
  title: ReturnRider API
  version: 1.0.0
  description: Automated Return & Refund Tracker
servers:
  - url: https://api.returnrider.com
  - url: http://localhost:3000
paths:
  /api/v1/emails/connect:
    post:
      summary: Link email provider via OAuth tokens
      operationId: connectEmail
      tags: [emails]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailConnectRequest'
      responses:
        '201':
          description: Email account linked; sync enqueued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailConnectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Email already linked to another user
  /api/v1/emails:
    get:
      summary: List linked email accounts
      tags: [emails]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Linked accounts
  /api/v1/emails/{id}:
    delete:
      summary: Disconnect linked email
      tags: [emails]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Disconnected
  /api/v1/returns/manual:
    post:
      summary: Create return manually without email
      tags: [returns]
      security:
        - bearerAuth: []
      responses:
        '201':
          description: Created
  /api/v1/returns/parse-receipt-text:
    post:
      summary: Parse receipt text from scan or paste
      tags: [returns]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Parsed fields
  /api/v1/users/me:
    get:
      summary: Current user profile and onboarding status
      tags: [users]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Profile
  /api/v1/users/push-token:
    post:
      summary: Register Expo push token
      tags: [users]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Registered
  /api/v1/users/onboarding-complete:
    post:
      summary: Mark onboarding tutorial complete
      tags: [users]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
  /api/v1/returns/active:
    get:
      summary: List returns with upcoming deadlines
      operationId: listActiveReturns
      tags: [returns]
      security:
        - bearerAuth: []
      parameters:
        - name: days_ahead
          in: query
          schema:
            type: integer
            default: 30
            minimum: 1
            maximum: 90
        - name: status
          in: query
          schema:
            type: string
            enum: [ready_to_ship, in_transit, awaiting_refund, all_active]
      responses:
        '200':
          description: Active returns sorted by deadline
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveReturnsResponse'
  /api/v1/returns/{id}:
    get:
      summary: Get return details
      operationId: getReturn
      tags: [returns]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ReturnId'
      responses:
        '200':
          description: Return detail
        '404':
          description: Not found
  /api/v1/returns/{id}/wallet-pass:
    post:
      summary: Generate Apple or Google wallet pass
      operationId: createWalletPass
      tags: [returns]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ReturnId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletPassRequest'
      responses:
        '200':
          description: Wallet artifact ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletPassResponse'
            application/vnd.apple.pkpass:
              schema:
                type: string
                format: binary
        '404':
          description: Return not found
        '422':
          description: Return has no QR payload
  /api/v1/returns/{id}/confirm-refund:
    post:
      summary: User confirms refund received
      tags: [returns]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ReturnId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  type: number
      responses:
        '200':
          description: Refund marked completed
  /api/v1/webhooks/tracking/easypost:
    post:
      summary: EasyPost tracking webhook
      tags: [webhooks]
      parameters:
        - name: X-Hmac-Signature
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Accepted
  /api/v1/webhooks/tracking/normalized:
    post:
      summary: Normalized tracking webhook (delivered_to_merchant)
      tags: [webhooks]
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackingWebhookPayload'
      responses:
        '200':
          description: Processed
  /api/v1/plaid/link-token:
    post:
      summary: Create Plaid Link token
      tags: [plaid]
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  link_token:
                    type: string
  /api/v1/plaid/exchange:
    post:
      summary: Exchange Plaid public token
      tags: [plaid]
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [public_token]
              properties:
                public_token:
                  type: string
      responses:
        '200':
          description: Connected
  /api/v1/auth/dev-token:
    post:
      summary: Development JWT (non-production)
      tags: [auth]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sub:
                  type: string
                email:
                  type: string
      responses:
        '200':
          description: JWT issued
  /health:
    get:
      summary: Health check
      responses:
        '200':
          description: OK
  /legal/terms:
    get:
      summary: Terms of Service
      responses:
        '200':
          description: Plain text ToS
  /legal/privacy:
    get:
      summary: Privacy Policy
      responses:
        '200':
          description: Plain text Privacy Policy

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    ReturnId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
  responses:
    BadRequest:
      description: Bad request
    Unauthorized:
      description: Unauthorized
  schemas:
    EmailConnectRequest:
      type: object
      required: [provider, authorization_code, redirect_uri, code_verifier]
      properties:
        provider:
          type: string
          enum: [gmail, outlook, yahoo, icloud]
        authorization_code:
          type: string
        redirect_uri:
          type: string
          example: com.returnrider.app:/oauth2redirect
        code_verifier:
          type: string
        email_hint:
          type: string
          format: email
        sync_days:
          type: integer
          enum: [90, 180]
          default: 90
    EmailConnectResponse:
      type: object
      properties:
        linked_email_id:
          type: string
          format: uuid
        email_address:
          type: string
        provider:
          type: string
        status:
          type: string
          enum: [connected, syncing]
        sync_job_id:
          type: string
        scopes_granted:
          type: array
          items:
            type: string
    ActiveReturnsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ReturnSummary'
        meta:
          type: object
          properties:
            total:
              type: integer
            as_of:
              type: string
              format: date-time
    ReturnSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        merchant_name:
          type: string
        item_summary:
          type: string
        status:
          type: string
        return_deadline_at:
          type: string
          format: date-time
          nullable: true
        days_remaining:
          type: integer
          nullable: true
        has_wallet_pass:
          type: boolean
        expected_refund_amount:
          type: number
          nullable: true
        tracking_number:
          type: string
          nullable: true
    WalletPassRequest:
      type: object
      required: [platform]
      properties:
        platform:
          type: string
          enum: [apple, google]
    WalletPassResponse:
      type: object
      properties:
        platform:
          type: string
        apple_pkpass_url:
          type: string
          format: uri
          nullable: true
        google_save_url:
          type: string
          format: uri
          nullable: true
        serial_number:
          type: string
        expires_at:
          type: string
          format: date-time
          nullable: true
    TrackingWebhookPayload:
      type: object
      required: [event_id, event_type, emitted_at, provider, tracker]
      properties:
        event_id:
          type: string
        event_type:
          type: string
          example: tracking.status_updated
        emitted_at:
          type: string
          format: date-time
        provider:
          type: string
          example: easypost
        tracker:
          type: object
          required: [tracking_number, carrier, status, event_at]
          properties:
            tracking_number:
              type: string
            carrier:
              type: string
            return_id:
              type: string
              format: uuid
            status:
              type: string
              enum:
                - pre_transit
                - in_transit
                - out_for_delivery
                - delivered
                - delivered_to_merchant
                - exception
                - return_to_sender
            status_detail:
              type: string
            location:
              type: object
              properties:
                city:
                  type: string
                state:
                  type: string
                country:
                  type: string
            event_at:
              type: string
              format: date-time
        raw:
          type: object
